{% extends "layout.twig" %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block page_content %}
    <section class="container mt-4">
        {% block page_title %}
            <h1 class="mb-3">{{ page_title }}</h1>
        {% endblock %}
        <div class="row">
            <div class="col-md-12 alert alert-warning">
                <h2>{{ error }}</h2>
            </div>
		</div>
    </section>
{% endblock page_content %}
